<div>
        <form ng-submit="add(donate)">
            <p>
                <label>Item: </label>
                <input type="text" ng-model="donate.item" placeholder="Enter your item">
            </p>
            <p>
                <label>Details: </label>
                <input type="text" ng-model="donate.details" placeholder="Enter your details">
            </p>
            <p>
                <label>Location: </label>
                <input type="text" ng-model="donate.location" placeholder="Enter your location">
            </p>
            <p>
                <label>Condition choice: </label>
                <select ng-model="donate.condition">
                    <option data-ng-repeat="v in fields.condition.choices">{{v}}</option>
                </select>
            </p>
            <p>
                <label>Category choice: </label>
                <select ng-model="donate.category">
                    <option data-ng-repeat="cat in categories" value="{{cat.resource_uri}}" ng-click="getSubCategories(cat)">{{cat.title}}<option>
                </select>
            </p>
            <p ng-show="donate.category">
                <label>SubCategory choice: </label>
                <select ng-model="donate.subcategory">
                    <option data-ng-repeat="sub in subcategories" value="{{sub.resource_uri}}">{{sub.title}}<option>
                </select>
            </p>
            <button type="submit">Save</button>
        </form>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Details</th>
                <th>Location</th>
                <th>Condition</th>
                <th>category</th>
                <th>subcategory</th>
            </tr>
            <tr ng-repeat="d in donations">
                <td ng-bind="d.item"></td>
                <td ng-bind="d.details"></td>
                <td ng-bind="d.location"></td>
                <td ng-bind="d.condition"></td>
                <td ng-bind="d.category.title"></td>
                <td ng-bind="d.subcategory.title"></td>
                <td><button type="button" ng-click="remove(d)">Delete</button></td>
            </tr>
        </table>
    </div>
