<div class="containerBig">
	<a href="#/donations">
		<p> Back to donation list</p>
	</a>
	<div class="well small-well">
		<div class="row">
			<div class="col-md-6">
				<h1>{{ donate.item }}</h1>
				<img class="img-responsive" ng-src="{{ donate.image }}" />
				<p>Item Details: {{ donate.details }}<br> Condition: {{ donate.condition }}
				<p><button ng-if="user.u !== donate.author.username" type="button" class="btn btn-outline darkbtn" ng-click="interested(donate)">I'm interested</button>
				<button ng-if="user.u === donate.author.username" type="button" class="btn btn-outline darkbtn float-right" ng-click="remove(donate)">Delete</button></p>

				
			</div>
			<div class="col-md-6">
				<h1>Location</h1>
				<div ng-if="donate && donate.location">
					<map location="donate.location"></map>
				</div>
			</div>
		</div>

	</div>
</div>