<div class="container">
    <div class="row">
        <div class="col-xs-4 well" ng-repeat="d in donations">
           <div ng-if="isLoggedIn"> <a href="#/donate/{{ d.id }}">
                <h2>{{ d.item }}</h2>
                <img ng-src="{{ d.image }}" style="width:100%;max-height:200px;"/>
                <p>{{ d.category.title }}</p>
            </a>
            </div>

            <div ng-if="!isLoggedIn">
                <h2>{{ d.item }}</h2>
                <img ng-src="{{ d.image }}" style="width:100%;max-height:200px;"/>
                <p>{{ d.category.title }}</p>
            </div>
        </div>
    </div>
</div>
