

<div class="container containerBig">
    <h1 class="text-center">Requests I've volunteered to help with</h1>
     <table class="table">
      <p><a href="#/request/edit/new"><p>Click here to add a request</p></a>
     <tbody>
         <tr>
             <th>Item</th>
             <th>Details</th>
             
             <th>Category</th>
             
             <th></th>
         </tr>
         <tr ng-repeat="r in requestmatches">
             <td>
                 <a href="#/request/{{ r.request.id }}">{{ r.request.item }}</a>
             </td>
             <td ng-bind="r.request.details"></td>
            
             <td>{{ r.request.category.title }} - {{ r.request.subcategory.title }}</td>

             <td>
                 <!-- todo -->
                 <button type="button" class="btn btn-outline darkbtn" ng-click="remove(r)">I can no longer help</button>
             </td>

         </tr>
         </tbody>
     </table>

 </div>