<div class="container containerBig">
    <h1>Items I've requested recently</h1>
    <p><a href="#/request/edit/new"><p>Click here to request another item</p></a>

    <div class="col-xs-3 well" style="margin:1em;" ng-repeat="r in requests">
        <h2>{{ r.item }}</h2>
        <p ng-bind="r.published_date|date"></p>                
        <span>{{ r.category.title }}</span>
        <p ng-bind="r.details"></p>
        <span>
            <a target="_blank" ng-href="{{ r.mapUrl }}">View Map</a>
        </span> 
        <p>{{ r.category.title }} - {{ r.subcategory.title }}</p>
        <p>
          
            <button  type="button" class="btn btn-outline darkbtn" ng-click="remove(r)">Delete</button>
        </p>
        <volunteer-help request-id="{{ r.id }}"></volunteer-help>
    </div>
</div>

 
 

