
<div class="containerBig">
    <h1>Items I've requested recently</h1>
    <p><a href="#/request/edit/new"><p>Click here to request another item</p></a>
    <table class="table">
        <tr>
            <th>Posted Date</th>
            <th>Item</th>
            <th>Details</th>
            <!-- <th>Location</th> 
            <th>category</th> -->
            <!-- <th>subcategory</th> -->
            <!-- <th>Author</th> -->
        </tr>
        <tr ng-repeat="r in requests">
            <td ng-bind="r.published_date|date"></td>
            <td ng-bind="r.item"></td>
            <td ng-bind="r.details"></td>
            <!-- <td>
                <a target="_blank" ng-href="{{ r.mapUrl }}">View Map</a>
            </td> 
            <td>{{ r.request.category.title }} - {{ r.request.subcategory.title }}</td> -->
           <!--  <td ng-bind="r.request.author.request.username"></td> -->
            <td>
                <button  type="button" class="btn btn-outline darkbtn" ng-click="remove(r)">Delete</button>
            </td>
        </tr>
    </table>
</div>