<div>
        <form ng-submit="add(request)">
            <p>
                <label>Item: </label>
                <input type="text" ng-model="request.item" placeholder="Enter your item">
            </p>
            <p>
                <label>Details: </label>
                <input type="text" ng-model="request.details" placeholder="Enter your details">
            </p>
            <p>
                <label>Location: </label>
                <input type="text" ng-model="request.location" placeholder="Enter your location">
            </p>
            <p>
                <label>Category choice: </label>
                <select ng-model="request.category">
                    <option data-ng-repeat="cat in categories" value="{{cat.resource_uri}}" ng-click="getSubCategories(cat)">{{cat.title}}<option>
                </select>
            </p>
            <p ng-show="request.category">
                <label>SubCategory choice: </label>
                <select ng-model="request.subcategory">
                    <option data-ng-repeat="sub in subcategories" value="{{sub.resource_uri}}">{{sub.title}}<option>
                </select>
            </p>
            <button type="submit">Save</button>
        </form>
        <table class="table">
            <tr>
                <th>Posted Date</th>
                <th>Item</th>
                <th>Details</th>
                <th>Location</th>
                <th>category</th>
                <th>subcategory</th>
                <th>Author</th>
            </tr>
            <tr ng-repeat="r in requests">
                <td ng-bind="r.published_date|date"></td>
                <td ng-bind="r.item"></td>
                <td ng-bind="r.details"></td>
                <td ng-bind="r.location"></td>
                <td ng-bind="r.category.title"></td>
                <td ng-bind="r.subcategory.title"></td>
                <td ng-bind="r.author.username"></td>
                <td><button type="button" ng-click="remove(r)">Delete</button></td>
            </tr>
        </table>
    </div>
