<div class="container containerBig">
    <h1> Enter your request for a donation </h1>
    <div class="well">
        <div class="row">

            <form ng-submit="add(request)">
                <div class="col-md-6">
                    <p>
                        <label>Item: </label>
                        <input type="text" ng-model="request.item" placeholder="Enter your item">
                    </p>
                    <p>
                        <label>Details: </label>
                        <input type="text" ng-model="request.details" placeholder="Enter your details">
                    </p>
                    <p>
                        <label>Category choice: </label>
                        <select ng-model="categorySelected" ng-change="getSubCategories(categorySelected)">
                        <option data-ng-repeat="cat in categories" ng-value="{{cat}}" >{{cat.title}}</option>
                    </select>
                    </p>
                    <p ng-show="request.category">
                        <label>SubCategory choice: </label>
                        <select ng-model="request.subcategory">
                        <option data-ng-repeat="sub in subcategories" ng-value="{{sub.resource_uri}}">{{sub.title}}</option>
                    </select>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><label> Location: </label>
                        <map location="request.location" editable="true"></map>
                    </p>
                    
                </div>
                <button class="btn btn-outline darkbtn" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>